html, body {
    padding: 0;
    box-sizing: border-box;
    height: 100%; 
    background-color: #222222 !important; 
    color: #ced1d3;
    font-family: 'Roboto', sans-serif; 
  }
  
  .name, .hook {
    font-family: 'Orbitron', sans-serif; 
  }

  h1, h2, h3, h4, h5, h6, p  {
    color: #ced1d3 !important;
  }
  
  @font-face {
    font-family: 'custom_font';
    src: url("ShareTechMono-Regular.ttf");
  }
  
  a{ text-decoration: none; }
  
  .container {
    margin: 0 auto !important;
    width: 83% !important;
    max-width: 1200px;
  }

  @media (max-width: 768px) {
    .container {
      width: 93% !important;
      padding: 0 15px; 
    }
  }

  span {
    color              : #5AFF19;
  }

  p{
      font-size        : 18px;
      line-height      : 1.7;
  }
  /********* Title *********/
  /* <p> and </p> */
  .p_tag{
      font-size        : 15px;
      color            : #808080;
      font-family: 'custom_font' !important; 
  }
  /* <h3> and </h3> */
  .h3_tag{
      font-size        : 20px;
      color            : #808080;
      font-family: 'custom_font' !important; 
  }
  .link{
      color            : #5AFF19;
      font-family: 'custom_font' !important; 
  }

/* button.custom-btn.btn-outline-primary {
  background-color: white;
  color: #222222;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button.custom-btn.btn-outline-primary:hover {
  background-color: #5AFF19;
  color: #222222;
} */
