/*-------------------------------
     Follow Me Icon
--------------------------------*/
#footer{
    margin-top: 5%;
    text-align        : center;
  }
  .follow-me {
    list-style        : none;
    margin            : 0 0 -8px;
    overflow          : hidden;
    padding           : 0;
    text-align        : center;
  }
  .follow-me li {
    float             : left;
    margin            : 0 8px 8px 0;
    padding           : 0;
  }
  .follow-me li a::before {
    background-color  : #111111;
    -webkit-border-radius: 2px;
    border-radius     : 2px;
    color             : white;
    display           : inline-block;
    font-family       : FontAwesome;
    font-size         : 30px;
    height            : 44px; /* Button height */
    line-height       : 44px; /* Button height */
    -webkit-transition: all .3s ease;
    transition        : all .3s ease;
    text-align        : center;
    width             : 44px; /* Button width */
  }
  
  .follow-me li a:hover::before {
    background-color  : #111111;
    color             : #5AFF19;
    transform         : translateY(-0.1875em);
  }
  
  .follow-me li a[href*="github.com"]::before         { content: "\f09b"; } /* github icon */
  .follow-me li a[href*="linkedin.com"]::before       { content: "\f0e1"; } /* linkedIn icon */
  .follow-me li a[href*="gmail.com"]::before          { content: "\f0e0"; } /* Gmail icon */
  