html, body {
  padding: 0;
  box-sizing: border-box;
  height: 100%; 
  background-color: #111111 !important; 
  color: #ced1d3;
  font-family: 'custom_font', sans-serif;
}

h1, h2, h3, h4, h5, h6, p  {
  color: #ced1d3 !important;
}

@font-face {
  font-family: 'custom_font';
  src: url("../ShareTechMono-Regular.ttf");
}

a{ text-decoration: none; }

.container {
  margin: 0 auto !important;
  width: 83% !important;
  max-width: 1200px;
}

/***************************************
   Nav Bar Part 
***************************************/
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-top: 3%;
}
.navbar .nav-link {
  color: #ced1d3; /* ナビゲーションリンクの色 */
}

.navbar .nav-link:hover {
  color: #5AFF19; /* ホバー時の色 */
  font-weight: bold; /* 強調したい場合 */
}

@media (max-width: 768px) {
  .navbar .nav-link {
      text-align: center;
  }
}

/* .main-contents{
  width: 80% !important;
  margin: 0 auto !important;
} */

/***************************************
   Main Part 
***************************************/
span {
  color              : #5AFF19;
}
p{
    font-size        : 18px;
    line-height      : 1.7;
}
/*** <p> and </p>  ***/
.p_tag{
    font-size        : 15px;
    color            : #808080;
}
/*** <h3> and </h3> ***/
.h3_tag{
    font-size        : 20px;
    color            : #808080;
}
.link{
    color            : #5AFF19;
}

/*-------------------------------
     Follow Me Icon
--------------------------------*/
#footer{
  text-align        : center;
}
.follow-me {
  list-style        : none;
  margin            : 0 0 -8px;
  overflow          : hidden;
  padding           : 0;
  text-align        : center;
}
.follow-me li {
  float             : left;
  margin            : 0 8px 8px 0;
  padding           : 0;
}
.follow-me li a::before {
  background-color  : #111111;
  -webkit-border-radius: 2px;
  border-radius     : 2px;
  color             : white;
  display           : inline-block;
  font-family       : FontAwesome;
  font-size         : 30px;
  height            : 44px; /* Button height */
  line-height       : 44px; /* Button height */
  -webkit-transition: all .3s ease;
  transition        : all .3s ease;
  text-align        : center;
  width             : 44px; /* Button width */
}

.follow-me li a:hover::before {
  background-color  : #111111;
  color             : #5AFF19;
  transform         : translateY(-0.1875em);
}

.follow-me li a[href*="github.com"]::before         { content: "\f09b"; } /* github icon */
.follow-me li a[href*="linkedin.com"]::before       { content: "\f0e1"; } /* linkedIn icon */
.follow-me li a[href*="gmail.com"]::before          { content: "\f0e0"; } /* Gmail icon */
