/***************************************
   Nav Bar Part 
***************************************/
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-top: 3%;
  }
  .navbar .nav-link {
    color: #ced1d3; /* ナビゲーションリンクの色 */
  }
  
  .navbar .nav-link:hover {
    color: #5AFF19; /* ホバー時の色 */
    font-weight: bold; /* 強調したい場合 */
  }
  
  @media (max-width: 768px) {
    .navbar .nav-link {
        text-align: center;
    }
  }

  /* ハンバーガーメニューアイコンのスタイル */
.navbar-toggler .fa-bars {
  font-size: 1.5rem; /* アイコンの大きさ */
  color: #ced1d3; /* アイコンの色 */
  transition: transform 0.2s ease; /* ホバー時のアニメーション */
}

/* ホバー時の効果 */
.navbar-toggler:hover .fa-bars {
  transform: scale(1.2); /* 少し大きくする */
  color: #555; /* 色を少し変える */
}

.navbar-toggler .fa-xmark {
  background-color: transparent; /* 背景なし */
}

/* メニューが開いているときのスタイル */
.navbar-toggler .fa-xmark {
  color: #ced1d3; /* アイコンの色を黒に */
}
